@media(min-width: 768px){
		.navbar-nav.navbar-center{
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

.load-img{
	position: absolute;
	top: 0; bottom:0; left: 0; right:0;
	margin: auto;
}

.loader{
	position: absolute;
	top: 0; bottom:0; left: 0; right:0;
    margin: auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #75a8f9;
	border-right: 16px solid #273956;
	border-bottom: 16px solid #75a8f9;
	border-left: 16px solid #273956;
	width: 200px;
	height: 200px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
	0%{ -webkit-transform: rotate(0deg); }
	100%{ -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

#carousel{
	width: 80%;
	margin: 0 auto;
	margin-top: 70px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#description{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #325199;
	border-radius: 2%;
}

body{
	color: #edebc9;
	background-color: #0b235b;
	font-family: 'Roboto Mono', monospace;
}

footer{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #325199;
	border-radius: 2%;
}